/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
*/
/*body {
    background-color: #FFF5F7;*/ /* Нежно-розовый фон */
    /*color: #4A4A4A;*/ /* Темный текст */
    /*font-family: 'Dancing Script', cursive;*/ /* Изящный шрифт */
/*}

.navbar {
    background-color: rgba(255, 192, 203, 0.5);*/ /* Нежно-розовый цвет для навигационной панели */
    /*border-bottom: 2px solid #FFDAB9;*/ /* Персиковый цвет для границы */
/*}

.navbar-brand {
    font-size: 1.8rem;
    font-weight: bold;
    color: #4A4A4A;*/ /* Темный текст для ссылки */
/*}

.navbar-nav .nav-link {
    font-size: 1.2rem;
    font-weight: bold;
    color: #4A4A4A;*/ /* Темный текст для ссылок */
/*}

.container {
    margin-top: 50px;
}

.footer {
    background-color: rgba(255, 192, 203, 0.5);*/ /* Нежно-розовый цвет для подвала */
    /*padding: 20px 0;
    color: #4A4A4A;*/ /* Темный текст для подвала */
    /*border-top: 2px solid #FFDAB9;*/ /* Персиковый цвет для границы */
/*}

header {
    background-image: url('~/images/<td>@item.DataPolucheniya.ToString("dd.MM.yyyy")</td>
                <td>@item.OjdaemayaData.ToString("dd.MM.yyyy")</td>.jpg'); /* Путь к вашему изображению для фона заголовка */
    /*background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container main {
    background-color: #FFFAFA;*/ /* Нежно-розовый фон для основного контента */
    /*padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}*/